<div class="rrss">
    <span>Comparte esta web</span>
    <div class="redes">
        <div class="fb-share-button fb" data-href="https://groway-studio.github.io/landing-canasta-del-dia/" >
        
            <a target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgroway-studio.github.io%2Flanding-canasta-del-dia%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-default">
                <img src="assets/fb.svg" class="fb" alt="">
            </a>
        </div>
        <img src="assets/ig.svg" class="ig" alt="ig">
        <img src="assets/wsp.svg" class="wsp" alt="wsp">
    </div>
</div>