@import "./../../../../styles.scss";

.fb, .ig , .wsp{
    color: #000;
    // background-color: #000;
    width: 32px;
    @include phone {
        width: 28px;
      }
  }
  .rrss{
    position: fixed;
    width: 100px;
    top: 55%;
    left: 0px;
    z-index: 1000;
    background-color: #56A98C;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    text-align: center;
    @include phone {
        top: 35%;
        width: 76px;
        padding: .5rem;
      }
    span{
        font-size: 12px;
        padding-top: 1rem;
        padding-bottom: 2rem;
        color: #f0f0f0;
        font-weight: 600;
        @include phone {
            font-size: 10px;
          }
    }
    .redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            padding-bottom: 1rem;
        }
    }
  }