<div id="proposito" class="container">
  <img src="assets/carrot.png" class="carrot-bg" alt="">
  <img src="assets/tomato.png" class="tomato-bg" alt="">

  <div class="proposito">
    <h2>Propósito</h2>
    <p>
      El propósito es ofrecer alimentos del hogar sostenibles. Logrando un menú
      de mejor calidad, barato, diverso y coeficiente. Empoderar a nuestras
      usuarias para lograr un cambio en la comercialización y producción de
      alimentos.
    </p>
    <div class="items-propositos">
      <div class="item-prop-1">
          <img src="assets/consumo-consciente.svg" width="130" height="130" alt="">
        <h4>Consumo consciente</h4>
        <p>
          Planificamos tus compras para que desperdicies menos y midas tu huella ambiental positiva.
        </p>
      </div>
      <div class="item-prop-2">
          <img src="assets/menos-desperdicio.svg" width="130" height="130" alt="">
        <h4>Menos desperdicio</h4>
        <p>Potenciamos el desarrollo económico multilocal mediante el consumo diverso.</p>
      </div>
      <div class="item-prop-3">
          <img src="assets/ciencia-ciudadana.svg" width="130" height="130" alt="">
        <h4>Ciencia ciudadana</h4>
        <p>Desarrollamos data confiable desde la ciudadanía para consumir y producir mejor. </p>
      </div>
      <div class="item-prop-4">
        <img src="assets/equidad.svg" width="130" height="130" alt="">
      <h4>Equidad en el hogar</h4>
      <p>Trabajamos para que la planificación de las compras sea una labor fácil y de todos los miembros del hogar. </p>
    </div>
    </div>
  </div>
</div>
