<div id="proposito" class="container">
  <div class="proposito">
    <h1>Propósito</h1>
    <p>
      El propósito es ofrecer alimentos del hogar sostenibles. Logrando un menú
      de mejor calidad, barato, diverso y coeficiente. Empoderar a nuestras
      usuarias para lograr un cambio en la comercialización y producción de
      alimentos.
    </p>
    <div class="items-propositos">
      <div class="item-prop-1">
          <img src="https://via.placeholder.com/100x100/ffffff" alt="">
        <h4>SOSTENIBILIDAD CONSCIENTE</h4>
        <p>
          Hacemos productos que garantizan el equilibrio entre crecimiento
          económico, cuidado del medio ambiente y bienestar social.
        </p>
      </div>
      <div class="item-prop-2">
          <img src="https://via.placeholder.com/100x100/ffffff" alt="">
        <h4>INSUMOS 100% NATURALES</h4>
        <p>Usamos insumos naturales locales de calidad que rescatan las tradiciones ancestrales. </p>
      </div>
      <div class="item-prop-3">
          <img src="https://via.placeholder.com/100x100/ffffff" alt="">
        <h4>COMERCIO <br> JUSTO</h4>
        <p>Garantizamos la trazabilidad de nuestra cadena de valor en todos nuestros productos lo cuál nos hace sentir orgullosos.</p>
      </div>
    </div>
  </div>
</div>
