@import "./../../../styles.scss";
.proposito {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 96px 10rem;
  width: 100%;
  @include tablet {
    width: 100%;
    padding: 96px 2rem;
  }
  @include phone {
    // width: 70%;
    // padding: 0;
    // margin: auto;
    padding: 96px 2rem;
  }

  h1 {
    color: #1c6b30;
    font-family: Righteous;
    font-weight: normal;
    font-size: 60px;
    line-height: 75px;
  }
  p {
    padding-top: 74px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #a3713d;
  }
}
.carrot-bg {
  position: absolute;
  left: 0;
  width: 20%;

  @include tablet {
    width: 20%;
  }

  @include phone {
    width: 30%;
  }
}
.tomato-bg {
  position: absolute;
  right: 0;
  width: 20%;

  @include tablet {
    width: 30%;
  }

  @include phone {
    width: 40%;
  }
}
.items-propositos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 98px;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 1rem;

  @include tablet {
    gap: 0.5rem;
  }

  @include phone {
    gap: 1rem;
    flex-direction: column;
  }

  .item-prop-1,
  .item-prop-2,
  .item-prop-3,
  .item-prop-4 {
    color: #fff;
    padding: 2rem;
    width: 48%;

    @include tablet {
      padding: 1rem;
    }

    img {
      padding-bottom: 2rem;
    }
    p {
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      line-height: 18px;
      padding-top: 1rem;
    }

    @include phone {
      width: 100%;
    }
  }

  .item-prop-1 {
    background-color: #f9b92b;
  }
  .item-prop-2 {
    background-color: #8ab133;
  }
  .item-prop-3 {
    background-color: #634747;
  }
  .item-prop-4 {
    background-color: #ee834f;
  }
}
