<div class="container header-content">
    <div class="trama-orange">
        <img src="assets/orange.png" alt="">
    </div>
    <div class="trama-pepino">
        <img src="assets/pepino.png" alt="">
    </div>
    <div class="trama-aji">
        <img src="assets/aji.png" alt="">
    </div>

    <div class="col-logo">
        <img src="assets/logo.png" width="200" alt="">
    </div>
    <div class="col-text">
        <h1>Llevanos contigo</h1>
        <p>Conoce lo que el <br> país tiene para tu <br> consumo</p>
    </div>
</div>
<div class="nabvar">
    <div class="container">
        <div class="menu">
            <div class="item-menu">
                <span>
                    <a href="#calendario">
                        <img class="img-icon" src="assets/calendar.svg" alt="">
                        Calendario</a></span>
            </div>
            <div class="item-menu">
                <span><a href="#proposito">
                        <img class="img-icon" src="assets/proposito.svg" alt="">
                        Propósito</a></span>
            </div>
            <div class="item-menu">
                <span><a href="#elequipo">
                        <img class="img-icon" src="assets/team.svg" alt="">
                        El Equipo</a></span>
            </div>
        </div>
    </div>
</div>