@import "./../../../styles.scss";
.equipo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 36px 10rem 96px;
  @include phone{
    padding: 96px 2rem;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #a3713d;
  }
}
.ajibrocoli-bg{
  position: absolute;
  right: 0%;
  width: 25%;
  @include phone{
    width: 40%;
    right: 0;
  }
}
.verdura3-bg{
  position: absolute;
  left: 0;
  @include phone{
    width: 20%;
    left: 80%!important;
  }
}
.people {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-top: 64px;
  @include phone{
    flex-direction: column;
    justify-content: center;
  }
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 42px;
    img{
      border-radius: 120px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    @include phone{
        padding-right: 0px;
        flex-direction: column; 
    }
    .social-item {
      padding-top: 1rem;
      width: 40px;
      color: #707070;
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
    text-align: left;
    a .social-item {
      padding-top: 1rem;
      width: 32px;
      color: #707070!important;
  
    }
    @include phone{
        text-align: center;
    }
    
    p{
      margin-top: 1rem;
      text-align: left;
      font-size: .9rem;
      line-height: 1.2rem;
    }
  
  }
}

.people-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  @include phone{
      padding-top: 4rem;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 42px;
    img{
      border-radius: 120px;
    }
    @include phone{
        padding-left: 0px; 
    }
  
  }
  .profile {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    text-align: left;
   align-items: flex-end;
   a .social-item {
    padding-top: 1rem;
    width: 32px;
    color: #707070!important;

  }
    @include phone{
        text-align: center;
    }
    p{
      margin-top: 1rem;
      text-align: right;
      font-size: .9rem;
      line-height: 1.2rem;
    }
    h3 {
      color: #707070;
      font-size: 24px;
    }
  }
}
