<div id="elequipo" class="container">
    <!-- <img src="assets/green.png" class="green-bg" alt=""> -->
    <img src="assets/aji-brocoli.png" class="ajibrocoli-bg" alt="">
    <div class="equipo">
        <!-- <h1>Nuestro Equipo</h1> -->
        <!-- <p>Respondemos en 12horas max</p> -->
        <div class="people">
            <div class="socials">
                <img src="assets/people1.png" width="186" alt="">
             
            </div>
            <div class="profile">
                <h2>Yemsi Rodríguez</h2>
                <p>Especialista en responsabilidad social y sostenibilidad. Antropóloga y estudiante de ingeniería de Sistemas. Como cualquier mamá, quiero para mi hogar la mejor alimentación y movilizar para un mundo más sostenible. </p>
                <a href="https://www.linkedin.com/in/yemsi-vania-rodr%C3%ADguez/" target="__blank">
                    <img src="assets/linkeding.svg" class="social-item" alt="">
                </a>
            </div>
        </div>
        <img src="assets/verdura3.png" class="verdura3-bg" alt="">

        <div class="people-right">
            <div class="profile">
                <h2>Miguel Loyola</h2>
                <p>Ingeniero Industrial y estudiante de ingeniería de sistemas e informática con MBA por la UTP. Con experiencia liderando proyectos de mejora y calidad. Especialización en innovación y transformación digital.</p>
                <a href="https://www.linkedin.com/in/miguel-angel-loyola-hilario" target="__blank">
                    <img src="assets/linkeding.svg" class="social-item" alt="">
                </a>
            </div>
            <div class="socials">
                <img src="assets/people2.png" width="186" alt="">
               
            </div>

        </div>
    </div>

</div>