<div id="elequipo" class="container">
    <div class="equipo">
        <!-- <h1>Nuestro Equipo</h1> -->
        <p>Respondemos en 12horas max</p>
        <div class="people">
            <div class="socials">
                <img src="assets/people1.png" width="186" alt="">
                <a href="https://www.linkedin.com/in/yemsi-vania-rodr%C3%ADguez/" target="__blank">
                    <img src="assets/linkeding.svg" class="social-item" alt="">
                </a>
            </div>
            <div class="profile">
                <h2>Yemsi Vania <br> Rodriguez Carranza</h2>
            </div>
        </div>
        <div class="people-right">
            <div class="profile">
                <h2>Miguel Angel <br> Loyola Hilario</h2>
            </div>
            <div class="socials">
                <img src="assets/people2.png" width="186" alt="">
                <a href="https://www.linkedin.com/in/miguel-angel-loyola-hilario" target="__blank">
                    <img src="assets/linkeding.svg" class="social-item" alt="">
                </a>
            </div>

        </div>
    </div>
</div>