<div class="container">
  <img src="assets/green.png" class="green-bg" alt="">
  <img src="assets/verdura2.png" class="verdura-bg" alt="">
  <div class="colabora">
    <h1>¿Por qué comer de temporada?</h1>
    <p>
      El propósito es ofrecer alimentos del hogar sostenibles. Logrando un menú
      de mejor calidad, barato, diverso y coeficiente. Empoderar a nuestras
      usuarias para lograr un cambio en la comercialización y producción de
      alimentos.
    </p>
    <a class="btn btn-primary" target="__blank" href="https://forms.gle/K3sDJCXvwG6eELHd9" > Colabora </a>
  </div>
</div>
