@import "./../../../styles.scss";
.colabora {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 172px 10rem;
  align-items: center;
  @include phone{
      padding: 172px 2rem;
  }
  h1 {
    color: #1c6b30;
    font-family: Righteous;
    font-weight: normal;
    font-size: 60px;
    line-height: 75px;
  }
  p {
    padding-top: 74px;
    padding-bottom: 64px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #a3713d;
  }
}

.green-bg{
  position: absolute;
  left: 0;
  width: 20%;
  @include phone{
    width: 40%;
  }
}
.verdura-bg{
  position: absolute;
  right: 0;
  @include phone{
    width: 40%;
  }
}



