<div class="container" id="calendario">
  <div class="calendario">
    <div class="col-1">
      <h2>Calendario de temporada</h2>
    </div>
    <div class="col-2">
      <div class="tabs">
        <div class="tab-item active">Enero</div>
        <div class="tab-item">Febrero</div>
        <div class="tab-item">Marzo</div>
      </div>
      <div class="tab-content">
        <img src="https://via.placeholder.com/481x107/ffffff" alt="" />

        <img src="https://via.placeholder.com/481x107/ffffff" alt="" />

        <img src="https://via.placeholder.com/481x107/ffffff" alt="" />
    </div>
    </div>
  </div>
</div>
