
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lacanasta-primary: mat.define-palette(mat.$indigo-palette);
$lacanasta-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lacanasta-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lacanasta-theme: mat.define-light-theme((
  color: (
    primary: $lacanasta-primary,
    accent: $lacanasta-accent,
    warn: $lacanasta-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lacanasta-theme);


//-------- MEDIAQUERIES --------
$tablet: 600px;
$desktop: 900px;
$desktop_m: 1680px;
$desktop_xl: 1920px;

/*-------- MIXINS MEDIA QUERIES = @MEDIA @CONTENT --------
Para usarlas sólo hay que situarse en la regla SASS correspondiente y poner, por ejemplo:
    @include phone {
        flex-direction: column;
    }
*/
@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop_hd {
  @media (min-width: #{$desktop_m}) and (max-width: #{$desktop_xl}) {
    @content;
  }
}

@mixin devices {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbf0d8;
  font-family: Righteous,Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-family: Righteous,Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
  @include phone {
    width: 100%;
  }
}
.container-full {
  width: 100%;
  background-color: #fff;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.btn-primary {
  background-color: #ff3924;
  color: #fff;
  padding: 12px 64px;
  font-size: 28px;
  border-style: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.54);
  border-radius: 10px;
  &:hover {
    background-color: #db1a06;
  }
}
a {
  text-decoration: none;
}

.text-center{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mat-dialog-container{
  padding: 0!important;
}
fa-icon{
  color: #fff!important;
  border-radius: 8px;
  width: 32px!important;
  border-radius: 1px solid #000!important;
}

h2{
  color: #1C6B30;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 37px;
  @include phone {
    font-size: 40px;
    line-height: 48px;
  }
}