<div class="share-calendar">
  <div class="box-download">
    <img class="img-download" src="assets/download.png" alt="" />
    <a class="btn btn-primary"  mat-button href="https://images.ecestaticos.com/-lvjpJLJluki4Zj7bXKJWC9Tiso=/130x25:676x434/1200x898/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fb25%2F568%2Fb4f%2Fb25568b4fdd2ab303a931ae702ebf800.jpg" target="__blank">Descárgalo</a>
  </div>
  <div class="sb-group-share">
    <div class="box-share">
      <div class="label-icon">
        <img src="assets/share.svg" width="18" alt="" />
        <span>Compartir en redes</span>
      </div>
      <share-buttons [theme]="'material-dark'" [include]="['facebook', 'twitter', 'whatsapp', 'copy']" [show]="4"
        [url]="'https://groway-studio.github.io/landing-canasta-del-dia/'" [image]="
      'https://scontent.flim7-1.fna.fbcdn.net/v/t39.30808-6/c0.11.540.282a/p540x282/268296822_105620691983599_8791422763137119544_n.png?_nc_cat=101&ccb=1-5&_nc_sid=eaa83b&_nc_eui2=AeEpqrgOnF5rWSrx254tvGQtz4zo1o4sXOTPjOjWjixc5BOtbF3KqY_8k5C5h17YVc8&_nc_ohc=7YOAuSJmx0EAX-_Sm8i&_nc_ht=scontent.flim7-1.fna&oh=00_AT-3fLvy68IXRhCFmBBqR6krkheOm8hAeTazDJhO8P7_Jg&oe=620E92BF'
    " [autoSetMeta]="false"></share-buttons>
    </div>
  </div>
  <div class="box-group">
    <img src="assets/wsp.svg" alt="">
    <p>Solo la administradora podrá
      enviar información <br> y se compartirá
      información prudentemente.</p>
    <button class="btn btn-primary" mat-button>Unirme al grupo</button>
  </div>
</div>