<footer>
  <div class="container footer-section">
    <h1>Contáctanos</h1>
    <div class="socials">
        <a href="https://www.instagram.com/lacanastadehoy/" target="__blank"><img src="assets/ig.svg" alt=""></a>
        <a href="https://www.facebook.com/La-Canasta-de-Hoy-105613018651033" target="__blank"><img src="assets/fb.svg" alt=""></a>
        <a href="mailto:lacanastadehoy@gmail.com" target="__blank"><img src="assets/mail.svg" alt=""></a>
        <a href="https://chat.whatsapp.com/JuDeJHQAEsJJ7ccR083hWA" target="__blank"><img src="assets/wsp.svg" alt=""></a>
        <a href="https://www.linkedin.com/company/la-canasta-de-hoy" target="__blank"><img src="assets/linkeding.svg" alt=""></a>
    </div>
  </div>
</footer>
